# Gradle
build
gradle.properties
.gradle
local.properties
out/

# IntelliJ IDEA
.idea
*.iml
.editorconfig

# VS Code
.vscode
.classpath
.project
.settings/

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp
