# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode
.classpath
.project
.settings/

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Generated sources
gen
